@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); 

*{
    font-family: 'Montserrat', sans-serif;

}

body {
    margin: 0 auto;
}


/* tete de page */ 

section.top-page {
    background-image: url("../image/bg.jpg");
    background-size: cover; 
    height: 80vh;
    padding: 25px;
}
header.header {
    display: flex;
align-items: center; 
}



header.header img {
    height: 95px;
}
 

/* menu de nav */ 
nav.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;  
    width: 400px;
}

nav.nav  li a{
    color: #fff;
    text-decoration: none;


}
/* page de bienvenu */ 
.landing-page {
    padding: 20px 50px;

}

h1.titre {
     width: 800px ; 
    font-size: 80px;
   /* margin-left: 30px; */ 
    color: white;
    font-family: 'Abril Fatface', cursive;
}

.scroll-down{
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}

/* services */
.services{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .delivery-icon {
     font-size: 50px;
     color: #ADD981;
 }
 .service-detail {
     font-weight: 600;
     width: 200px;
     text-align: center;
    
 }

 /* meilleurs ventes  */

 .section-title {
     font-size: 50px;
     font-family:'Abril Fatface', cursive ;
     font-weight: 100;
     position: relative;

 }

 .section-title::before {
     content: "";
     position: absolute;
     background-color: #ADD981;
     width: 50px;
     height: 7px;
     bottom: 0;
 }
.best-plante{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.plante-box {
      background-size: cover;
      background-position: center;
      min-height: 350px;
      height: 500px;
      flex: 1;
    
    }

.plante1 {
    background-image: url(image/nos\ meilleurs\ ventes/1.jpg);

 }
 
.plante2 {
    background-image: url(image/nos\ meilleurs\ ventes/2.jpg);

 }
 .plante3 {
     background-image: url(image/nos\ meilleurs\ ventes/3.jpg);
 
  }
.plante4 {
      background-image: url(image/nos\ meilleurs\ ventes/4.jpg);
  
   }

.plant-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: #ADD981;
    line-height: 3px;
    font-size: 14px;
    font-weight: 800;
}

/* nos plantes */

.all-plants {
    margin: 100px;
}

.plant-grid {
    display: grid;
    min-height: 150vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.plant-grid1 {
    background-image: url(images/nos_plantes/1.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}

.plant-grid2 {
    background-image: url(images/nos_plantes/2.jpg);
    grid-column: 3/5;
}

.plant-grid3 {
    background-image: url(images/nos_plantes/3.jpg);
    grid-column: 3/5;
}

.plant-grid4 {
    background-image: url(images/nos_plantes/4.jpg);
    grid-column: 1;
    grid-row: 3/5;
}

.plant-grid5 {
    background-image: url(images/nos_plantes/5.jpg);
    grid-column: 2/4;
    grid-row: 3/5;
}

.plant-grid6 {
    background-image: url(images/nos_plantes/6.jpg);
    grid-column: 4;
    grid-row: 3/5;
}

/* pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}
